<script>
  window.currentUser = <%= raw(Jason.encode!(%{username: "user1"})) %>
</script>

<h1 class="is-size-1 is-uppercase">SD Contoh - Kelas 1A</h1>

<div class="box has-text-danger" style="height: 480px">
Papan Media
</div>

<div class="level">
  <div class="level-left">
    <div id="other-streams"></div>
  </div>
  <div class="level-right">
    <button class="button is-info" phx-click="get_token">Start Stream</button>
    <div id="my-stream" phx-hook="openvidu"></div>
  </div>
</div>
