<h1 class="is-size-1 is-uppercase">Room Live</h1>

<select id="video-select" phx-hook="videoSelect"></select>
<select id="audio-select" phx-hook="audioSelect"></select>

<div id="my-stream" phx-hook="mediaStream">
  <video autoplay playsinline></video>
</div>
